In [1]:
import pandas as pd

In [3]:
data = {
    'Name': ['Anna', 'Caroline', 'Laura'],
    'Psychology': [80, 63, 100],
    'History': [70, 20, 50]
}

df = pd.DataFrame(data)
df

       Name  Psychology  History
0      Anna          80       70
1  Caroline          63       20
2     Laura         100       50

In [4]:
cov_matrix = df[['Psychology', 'History']].cov()

print("Covariance Matrix:")
print(cov_matrix)

Covariance Matrix:
            Psychology     History
Psychology       343.0  260.000000
History          260.0  633.333333